html, body, ul, li,tr,td{
    padding: 0;
    margin: 0;
}

html {
    font: 12px/1.5 Tahoma, Helvetica, Arial, '宋体', sans-serif;
    height: 100%;
    overflow-x: hidden;
}

body {
    height: 100%;
    position: relative;
}

h1, h2, h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

h1 {
    font-size: 30px;
}

h2, h3 {
    font-size: 24px;
}

p {
    margin: 0 0 10px;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.left {
    float: left;
}

.right {
    float: right;
}

.margin0auto {
    margin: 0 auto;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

header.colorful {
    width: 100%;
    background-color: rgb(38,41,50);
    color: rgb(38,41,50);
    overflow: hidden;
}

.container {
    margin: 0 auto;
    position: relative;
    min-height: 100%;
    width: 400px;
}

footer.copyright {
    margin-top: 10px;
    border-top: 1px #f3f3f3 solid;
    width: 100%;
    height: 40px;
    text-align: center;
    font-size: 12px;
    line-height: 40px;
}
.menubar{
    float: right;
}
.menu {
    margin: 15px;
}

.menu li {
    float: left;
    height: 40px;
}

.menu li > a {
    display: block;
    padding: 15px 25px;
    opacity: 0.8;
    cursor: pointer;
    color: #fff
}

.menu li > a:hover, .menu li > a.active {
    opacity: 1;
}

.tShadow a{
    color: #fff;
}

#logo{
    display: inline-block;
    vertical-align: middle;
    background: url("../images/logo.png") center no-repeat;
    width: 50px;
    height: 50px;
    background-size: 50px 50px;
    margin-right: 10px;
    margin-top: -5px;
}

@media screen and (max-width: 400px) {
    .container {
        width: 100%;
    }
}

@media screen and (min-width: 960px) {
    .container {
        width: 800px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        width: 1200px;
    }
}

/* 导航条 */
@media screen and (max-width: 960px) {
    .menu{
        margin: 0;
    }
    .menubar{
        float: none;
        clear: both;
        text-align: center;
    }
    .menu li > a:first-child{
        padding-left: 0;
    }
}